<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Violet | Cookie-Note</title>
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--Custom CSS-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid" style="height: 5.85vw;background-color: #25213e;display: flex;align-items: center;">
    <div class="row" style="margin-left: 6.22vw;margin-right: 4.46vw;display: flex;align-items: center;">
        <span class="about_This-site-uses-cooki">This site uses cookies. For more infomation read <span style="border-bottom: solid 1px #ff94c0">our policy</span>.</span>
        <img src="../assets/images/pink_close/pink.png" style="width: 1.46vw;height: 1.46vw;position: absolute;right: 4.46vw" alt/>
    </div>
</div>
</body>
</html>