<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Violet | Credit</title>
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--Custom CSS-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container-fluid" style="height: 75vw;background-color: #25213e">
        <div class="row" style="margin-top: 12.44vw">
            <div class="col-md-1 col-sm-1 col-xs-1 col-md-offset-11 col-sm-offset-11 col-xs-offset-11">
                <img src="../assets/images/pink_close/pink.png" style="width: 1.46vw;height: 1.46vw" alt/>
            </div>
        </div>
        <div class="row" style="display: flex;justify-content: center;flex-direction: column;margin-top: 2.19vw;align-items: center;">
            <span class="Credits">Credits</span>
            <span class="Art-Director" style="margin-top: 2.78vw">Art Director</span>
            <span class="Art-Director">Charlotte heal</span>
            <span class="Art-Director" style="margin-top: 1.17vw">Photography</span>
            <span class="Art-Director">SOPHIE CARRUTHERS</span>
            <span class="Art-Director" style="margin-top: 1.17vw">Stylist</span>
            <span class="Art-Director">LUELLA BARTLEY</span>
            <span class="Art-Director" style="margin-top: 1.17vw">Make-Up Artist</span>
            <span class="Art-Director">STEPHANIE LACAVA</span>

            <span class="Art-Director" style="margin-top: 1.17vw">Set Design</span>
            <span class="Art-Director">AMANDA DE CADENET</span>

            <span class="Art-Director" style="margin-top: 1.17vw">Assistant</span>
            <span class="Art-Director">CLÉMENCE POÉSY</span>

            <span class="Art-Director" style="margin-top: 1.17vw">Models</span>
            <span class="Art-Director">ZOE KAZAN</span>
            <span class="Art-Director">DAVINA CATT</span>
            <span class="Art-Director">CHARLOTTE SANDERS</span>
            <span class="Art-Director">ELLEN BURNEY</span>
            <span class="Art-Director">SASHA SAGAN</span>
            <span class="Art-Director">KEIRA KNIGHTLEY</span>
        </div>
    </div>
</body>
</html>