<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Violet | PR-Overlay</title>
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--Custom CSS-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid" style="height: 30.4vw;background-color: #25213e;">
    <div class="row" style="margin-top: 2.7vw">
        <img src="../assets/images/pink_close/pink.png" style="width: 1.46vw;height: 1.46vw;position: absolute;right: 7vw" alt/>
    </div>
    <div class="row" style="margin-top: 2.95vw;padding-left: 0px">
        <div class="col-md-offset-2 col-md-5" style="display: flex;flex-direction: column;padding-left: 0px">
            <span class="What-is-PR-content">What is “PR” content?</span>
            <span class="Lorem-ipsum-dolor-si" style="margin-top: 1.6vw">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </div>
    </div>
</div>
</body>
</html>