<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sharing-Footer</title>
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!--Custom CSS-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid" style="background-color: #25213E;width: 100%;height: 36.53vw">
    <div class="row" style="margin-top: 2.9vw">
        <div class="col-md-1 col-md-offset-11">
            <img src="../assets/images/pink_close/pink.png" style="width: 1.17vw;height: 1.17vw" alt/>
        </div>
    </div>

    <div class="row" style="margin-top: 1.5vw;display: flex;justify-content: center;align-items: center">
        <span class="Share-via">Share via:</span>
    </div>

    <div class="row" style="margin-top: 7.32vw;display: flex;justify-content: center;align-items: center">
        <img src="../assets/images/pink_facebook/pink.png" style="width: 4vw;height: 4vw" alt/>
        <img src="../assets/images/pink_instagram/pink.png" style="width: 4vw;height: 4vw;margin-left: 2.6vw" alt/>
        <img src="../assets/images/pink_twitter/pink.png" style="width: 4vw;height: 4vw;margin-left: 2.6vw" alt/>
        <img src="../assets/images/pink_mail/pink.png" style="width: 4vw;height: 4vw;margin-left: 2.6vw" alt/>
    </div>

    <div class="row" style="margin-top: 6.88vw;display: flex;justify-content: center;align-items: center">
        <img src="../assets/images/overlay-pink_2017-10-25/overlay-pink.png" style="width: 11.7vw;height: 3.66vw" alt/>
    </div>
</div>
</body>
</html>